@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h2 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	color: #ffffff;
	text-align: center;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 70px;
	padding-top: 70px;
}

.navbar-inverse {
	background-color: #1abc9c;
	border-color: #16a085;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f2;
}


#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}



/* ================== Button HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom { 
    /* display:block;  */
    position:relative; 
    overflow:hidden; 
    /* background:transparent url(../img/loader.gif) no-repeat center; */
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-color: #eee;
        background-position:center;
    }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}

#bc {
	position: relative;
	margin: 30px auto;
	width: 400px;
	/* border: 3px solid #666666; */
	border-top: 3px dotted #1abc9c;
	border-bottom: 3px dotted #1abc9c;
	box-shadow: inset 0 -1px 0 0 #1abc9c, inset 0 1px 0 0 #1abc9c, 0 1px 0 0 #1abc9c, 0 -1px 0 0 #1abc9c;
	border-radius: 5px;
	background-color: #110f0f;
}

input[type=text] {
	position: relative;
	display: block;
	width: 90%;
	margin: 12px auto 0px auto;
	font-size: 20px;
	/* border: 1px solid lightgrey; */
	background-color: #cccccc;
}

input[type=button] {
	position: relative;
	background-color:#494545;
	width: 20%;
	margin: 2%;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10%;
	color: #fff;
}

input[type=button]:hover {
	background-color: #8c8c8c;
}